.header {
    padding: 5rem 0 4rem 0;
    border-bottom: 1px solid #f1f1f1;
}

.header__nav {
    display: flex;
    &-link {
        font-size: 1.5rem;

        &:not(:first-child) {
            padding-left: 4rem;
        }
        @media (max-width: 370px) {
            &:not(:first-child) {
                padding-left: 0;
            }
        }
        a {
            color: black;

            transition: color .2s linear;
            &:hover {
                color: #e7a8c6;
            }
        }


    }
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__form-input {
    max-width: 125px;
    border: 0;
    padding-left: 2rem;

    background: url('../images/header/search.png') left no-repeat;

    &:focus {
        outline: none;
    }

    &::placeholder {
        text-transform: uppercase;
        font-size: 1.1rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        letter-spacing: 2px;;

        @media (max-width: 556px) {
            font-size: .8rem;
        }
    }

    @media (max-width: 530px) {
        max-width: 60px;
    }

    @media (max-width: 370px) {
        display: none;
    }
}


.hiddenAdaptive {
    @media (max-width: 530px) {
        display: none;
    }
}